<div
  class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
>
  <div class="modal-content">
    <div class="modal-header py-1 align-items-center">
      <h5 class="modal-title" id="staticBackdropLabel">
        {{ "Create Question" }}
      </h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
        #closebutton
        (click)="loadQues()"
      ></button>
    </div>
    <div class="modal-body">
      <form class="container">
        <div *ngIf="errorShow != ''" class="alert alert-danger">
          <div>
            {{ errorShow }}
          </div>
        </div>
        <div class="">
          <div style="width: 100%;">
            <select
            placeholder="Select Cetegory"
            class="form-select"
            #categorySelect
            (change)="category=categorySelect.value;onselectCategory($event);"
          >
            <option value="" disabled selected="selected">Select Category</option>
            <option *ngFor="let item of categoryList" value="{{item.id}}">
              {{item.name}}
            </option>
          </select>
          </div>
        </div>
        <div *ngIf="category=='d846df3d-7f13-4803-8c15-b18c0ec14157'" class="mt-3 d-flex flex-row justify-content-between">
          <div style="width: 100%;">
            <input
            class="form-control"
            name="name"
            id="name"
            placeholder="Enter Category Name"
            [(ngModel)]="newCategory"
            type="text"
          />
          </div>
        </div>
        <div class="d-flex flex-row mt-3">
          <input
            class="form-control"
            name="name"
            id="name"
            placeholder="Enter Question"
            type="text"
            [(ngModel)]="question"
          />
          <input
            hidden
            #file
            type="file"
            (change)="getQuesFileDetails($event)"
          />
          <button type="button" class="btn btn-default" (click)="file.click()">
            <i class="bi bi-image-alt"></i>
          </button>
          &nbsp;
          <select
            placeholder="Select Level"
            class="form-select"
            aria-label="Default select example"
            [(ngModel)]="level"
          >
            <option value="" disabled>Select Level</option>
            <option [selected]="level == 'beginner'" value="beginner">
              {{ "Beginner" }}
            </option>
            <option [selected]="level == 'intermediate'" value="intermediate">
              {{ "Intermediate" }}
            </option>
            <option [selected]="level == 'advanced'" value="advanced">
              {{ "Advanced" }}
            </option>
          </select>
        </div>
        <div
          class="mt-1"
          style="text-align: center"
          *ngIf="myQuesFile.length != 0"
        >
          <div class="preview">
            <a type="button">
              <span class="removeBadge" (click)="removeQuesFile()"
                ><i class="bi bi-x"></i
              ></span>
              <div *ngIf="myQuesFile[0].type == 'image/png'">
                <img [src]="QuesUrl" width="100" height="60" />
              </div>
              <div *ngIf="myQuesFile[0].type == 'video/mp4'">
                <video width="100" height="60" controls>
                  <source [src]="QuesUrl" type="video/mp4">
                </video>
              </div>
            </a>
          </div>
        </div>
        <!-- option1 -->
        <div class="mt-3 col-12 d-flex flex-row">
          <input
            class="form-control"
            name="name"
            id="name"
            placeholder="Enter Option1"
            type="text"
            [(ngModel)]="option1"
          />
          <input
            hidden
            #file2
            type="file"
            (change)="getAnsFileDetails1($event)"
          />
          <button type="button" class="btn btn-default" (click)="file2.click()">
            <i class="bi bi-image-alt"></i>
          </button>
        </div>
        <div
          class="mt-1"
          style="text-align: center"
          *ngIf="myAnsFile1.length != 0"
        >
          <div class="preview">
            <a type="button">
              <span class="removeBadge" (click)="removeAnsFile1()"
                ><i class="bi bi-x"></i
              ></span>
              <div *ngIf="myAnsFile1[0].type == 'image/png'">
                <img [src]="AnsUrl1" width="100" height="60" />
              </div>
              <div *ngIf="myAnsFile1[0].type == 'video/mp4'">
                <video width="100" height="60" controls>
                  <source [src]="AnsUrl1" type="video/mp4">
                </video>
              </div>
            </a>
          </div>
        </div>
        <!-- option2 -->
        <div class="mt-3 col-12 d-flex flex-row">
          <input
            class="form-control"
            name="name"
            id="name"
            placeholder="Enter Option2"
            type="text"
            [(ngModel)]="option2"
          />
          <input
            hidden
            #file3
            type="file"
            (change)="getAnsFileDetails2($event)"
          />
          <button type="button" class="btn btn-default" (click)="file3.click()">
            <i class="bi bi-image-alt"></i>
          </button>
        </div>
        <div
          class="mt-1"
          style="text-align: center"
          *ngIf="myAnsFile2.length != 0"
        >
          <div class="preview">
            <a type="button">
              <span class="removeBadge" (click)="removeAnsFile2()"
                ><i class="bi bi-x"></i
              ></span>
              <div *ngIf="myAnsFile2[0].type == 'image/png'">
                <img [src]="AnsUrl2" width="100" height="60" />
              </div>
              <div *ngIf="myAnsFile2[0].type == 'video/mp4'">
                <video width="100" height="60" controls>
                  <source [src]="AnsUrl2" type="video/mp4">
                </video>
              </div>
            </a>
          </div>
        </div>
        <!-- option3 -->
        <div class="mt-3 col-12 d-flex flex-row">
          <input
            class="form-control"
            name="name"
            id="name"
            placeholder="Enter Option3 (optional)"
            type="text"
            [(ngModel)]="option3"
          />
          <input
            hidden
            #file4
            type="file"
            (change)="getAnsFileDetails3($event)"
          />
          <button type="button" class="btn btn-default" (click)="file4.click()">
            <i class="bi bi-image-alt"></i>
          </button>
        </div>
        <div
          class="mt-1"
          style="text-align: center"
          *ngIf="myAnsFile3.length != 0"
        >
          <div class="preview">
            <a type="button">
              <span class="removeBadge" (click)="removeAnsFile3()"
                ><i class="bi bi-x"></i
              ></span>
              <div *ngIf="myAnsFile3[0].type == 'image/png'">
                <img [src]="AnsUrl3" width="100" height="60" />
              </div>
              <div *ngIf="myAnsFile3[0].type == 'video/mp4'">
                <video width="100" height="60" controls>
                  <source [src]="AnsUrl3" type="video/mp4">
                </video>
              </div>
            </a>
          </div>
        </div>
        <!-- option4 -->
        <div class="mt-3 col-12 d-flex flex-row">
          <input
            class="form-control"
            name="name"
            id="name"
            placeholder="Enter Option4 (optional)"
            type="text"
            [(ngModel)]="option4"
          />
          <input
            hidden
            #file5
            type="file"
            (change)="getAnsFileDetails4($event)"
          />
          <button type="button" class="btn btn-default" (click)="file5.click()">
            <i class="bi bi-image-alt"></i>
          </button>
        </div>
        <div
          class="mt-1"
          style="text-align: center"
          *ngIf="myAnsFile4.length != 0"
        >
          <div class="preview">
            <a type="button">
              <span class="removeBadge" (click)="removeAnsFile4()"
                ><i class="bi bi-x"></i
              ></span>
              <div *ngIf="myAnsFile4[0].type == 'image/png'">
                <img [src]="AnsUrl4" width="100" height="60" />
              </div>
              <div *ngIf="myAnsFile4[0].type == 'video/mp4'">
                <video width="100" height="60" controls>
                  <source [src]="AnsUrl4" type="video/mp4">
                </video>
              </div>
            </a>
          </div>
        </div>
        <br>
        <div class="row col-12">
          <div class="col-3">
            <b>Correct Answer</b>
          </div>
          <div class="form-check col-1">
            <input
              mdbRadio
              class="form-check-input"
              type="radio"
              name="flexRadioDefault"
              id="flexRadioDefault1"
              value="a"
              [(ngModel)]="answer"
            />
            <label class="form-check-label" for="flexRadioDefault1">A</label>
          </div>
          <div class="form-check col-1">
            <input
              mdbRadio
              class="form-check-input"
              type="radio"
              name="flexRadioDefault"
              id="flexRadioDefault2"
              value="b"
              [(ngModel)]="answer"
            />
            <label class="form-check-label" for="flexRadioDefault2">B</label>
          </div>
          <div class="form-check col-1">
            <input
              mdbRadio
              class="form-check-input"
              type="radio"
              name="flexRadioDefault"
              id="flexRadioDefault3"
              value="c"
              [(ngModel)]="answer"
            />
            <label class="form-check-label" for="flexRadioDefault3">C</label>
          </div>
          <div class="form-check col-1">
            <input
              mdbRadio
              class="form-check-input"
              type="radio"
              name="flexRadioDefault"
              id="flexRadioDefault4"
              value="d"
              [(ngModel)]="answer"
            />
            <label class="form-check-label" for="flexRadioDefault4">D</label>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="loadQues()" data-bs-dismiss="modal">
        Close
      </button>
      <button type="button" class="btn btn-success" (click)="addQues()">
        Submit
      </button>
    </div>
  </div>
</div>
