.cardSize {
  width: 25rem;
}
.signInclass {
  display: flex;
  justify-content: center;
}
.center {
  text-align: center;
}
.signInPageclass{
  display: grid;
  grid: 100vh/ auto auto;
  background-color: #EDF3F3;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100vh;
  justify-items: end;
  align-items: center;
  /* margin-top: 0rem; */
  }
.registration{
  text-align: center;
  color: #04445D;
}
.mylogo{
  height: 100px;
}
.logoArea{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
  /* padding-top: 50px; */
}
.emailInput,
.passwordInput{
  width: 100%;
  /* background-color: white; */
  outline: 0;
  border: none;
  border-bottom: 2px solid lightgray;
  padding: 8px 10px;
  border-radius: 0;
}
.rightContent{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  /* align-items: center; */
  /* align-content: center; */
}
.half-circle {
  position:absolute;
    width: 75vh;
    height: 100%;
    background-color: #04445D;
    border-bottom-left-radius: 600px;
    border-top-left-radius: 600px;
    /* border: 5px solid gray; */
    border-left: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index:3;
    /* top:10px;
    left:20px; */
}
.half-circle2 {
  position:absolute;
    width: 85vh;
    height: 100%;
    background-color: #618899;
    border-bottom-left-radius: 600px;
    border-top-left-radius: 600px;
    /* border: 5px solid gray; */
    border-left: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* top:10px;
    left:20px; */
    z-index:2;
}
.half-circle1 {
    position:absolute;
    width: 95vh;
    height: 100%;
    background-color: #BDCFD3;
    border-bottom-left-radius: 600px;
    border-top-left-radius: 600px;
    /* border: 5px solid gray; */
    border-left: 0;
    /* top:10px;
    left:20px; */

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index:1;
}
.leftlayout{
  display: grid;
  padding-right: 10px;
}

.mypage {  display: grid;
  /* height: 100vh; */
  grid-template-columns: 0.5fr 1.2fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "logoArea maincontent Design"
    ". maincontent Design"
    ". maincontent Design";
}

.logoArea { grid-area: logoArea;
}

.maincontent { grid-area: maincontent;
  padding-top: 100px;
  width: 100%;
}

.Design { grid-area: Design;
  width: 100%;
}
.selectInput{
  color: gray;
  border: none;
  border-bottom: 2px solid lightgray;
  border-radius: 0px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .Design{
    display: none;
  }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
}
  @media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  }
