<div class="mypage">
  <div class='logoArea'>
    <img class="mylogo" src="../assets/myLogo.png" alt="">
  </div>
  <div class="maincontent">
      <div class=" cardSize">
        <form>
          <div class="card-body">
              <h5 class="card-title registration">User Registration</h5>
              <div class="">
                  <form [formGroup]="registrationform" #formDir="ngForm">
                    <div>
                      <div class="cross-validation" [class.cross-validation-error]="registrationform.errors?.['identityRevealed'] && (registrationform.touched || registrationform.dirty)">
                        <div class="mb-3 form-group">
                            <input type="text" class="passwordInput" formControlName="first_name" name="first_name" id="first_name" placeholder="Firstname*">
                            <div *ngIf="first_name.invalid && (first_name.dirty || first_name.touched)" class="alert alert-danger" required>
                              <div *ngIf="first_name.errors?.['required']">
                                Firstname is required.
                              </div>
                            </div>
                        </div>
                        <div class="mb-3 form-group">
                          <input type="text" class="passwordInput" formControlName="last_name" name="last_name" id="last_name" placeholder="Lastname*">
                          <div *ngIf="last_name.invalid && (last_name.dirty || last_name.touched)" class="alert alert-danger" required>
                            <div *ngIf="last_name.errors?.['required']">
                              LastName is required.
                            </div>
                          </div>
                      </div>
                        <div class="mb-3 form-group">
                          <input type="text" class="emailInput" formControlName="school_name" name="school_name" id="school_name"  placeholder="School Name*">
                          <div *ngIf="school_name.invalid && (school_name.dirty || school_name.touched)" class="alert alert-danger">
                            <div *ngIf="school_name.errors?.['required']">
                              SchoolName is required.
                            </div>
                            <div *ngIf="school_name.errors?.['school_name']">
                              SchoolName format is wrong.
                            </div>
                          </div>
                        </div>
                        <div class="mb-3 form-group">
                          <select class="form-select selectInput" aria-label="Default select example"  formControlName="standard" name="standard" id="standard"  (change)="update($event)">
                            <option selected value="">Select Standard*</option>
                            <option *ngFor="let list of standards" [value]="list">{{list}}</option>
                          </select>
                          </div>
                        <div class="mb-3 form-group">
                            <input type="password" class="passwordInput" formControlName="password" name="password" id="password" placeholder="Password*">
                            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                              <div *ngIf="password.errors?.['required']">
                                Password is required.
                              </div>
                            </div>
                        </div>
                      </div>
                      <div class="center form-group">
                          <button type="submit" [disabled]="registrationform.invalid" class="btn btn-success" (click)="submitUser()">Submit</button>
                      </div>
                    </div>
                  </form>
              </div>
          </div>
        </form>
      </div>
  </div>
<!-- </div> -->
<div  class="Design">
  <div class="rightContent">
    <div class="half-circle"></div>
    <div class="half-circle1"></div>
    <div class="half-circle2"></div>
  </div>
</div>
</div>
