<div class="teamList">
  <app-navbar></app-navbar>
  <header>
    <div class="container d-flex ">
      <div class="p-2"><h3>Scientist LeaderBoard </h3></div>
      <div class="ms-auto p-2">
        <!-- <button type="button" class="btn myBtn" (click)="scientistList()">My Teams</button> -->
      </div>
    </div>
  </header>
  <br>
  <main>
    <div class="teamlistArea">

      <div class="container text-center">
        <div class="row">
          <div class="col">
            <ul class="list-group">
              <li class="list-group-item">
                <div class="card mb-1">
                  <div class="row g-0" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <div class="col-md-2 teamImg ">
                      <img src="../assets/sample.jpg" class="teamListimage" alt="...">
                    </div>
                    <div class="col-md-10">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-4">                        <h5 class="card-title">Team Warriors</h5>
                          </div>
                          <div class="col-md-4 ">                        <p class="card-text"><b>People (5)</b></p>
                          </div>

                          <div class="col-md-2 ms-auto">                        <p class="card-text"><b>23423</b></p>
                          </div>
                          <div class="col-md-2 ms-auto">                        <p class="card-text"><b><i class="bi bi-star"></i></b></p>
                          </div>

                        </div>
                        <div class="container">
                          <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
                            <div class="col">
                              <!-- <div class="p-3  "> -->
                                <img src="../assets/test1.jpg" class="teamMembers" alt="...">
                              <!-- </div> -->
                            </div>
                            <div class="col">
                              <!-- <div class="p-3 "> -->
                                <img src="../assets/test1.jpg" class="teamMembers" alt="...">
                              <!-- </div> -->
                            </div>
                            <div class="col">
                              <!-- <div class="p-3  "> -->
                                <img src="../assets/test1.jpg" class="teamMembers" alt="...">
                              <!-- </div> -->
                            </div>
                            <div class="col">
                              <!-- <div class="p-3  "> -->
                                <img src="../assets/test1.jpg" class="teamMembers" alt="...">
                              <!-- </div> -->
                            </div>
                            <div class="col">
                              <!-- <div class="p-3 ">     -->
                              <img src="../assets/test1.jpg" class="teamMembers" alt="...">
                              <!-- </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2"></div>
                  </div>
                </div>
              </li>
              <li class="list-group-item"><div class="card mb-3">
                <div class="row g-0 align-items-center p-2">
                  <div class="col-md-2 ">
                    <img  src="../assets/gold-medal 1.png" class="img-fluid rounded-start medalimg " alt="...">
                  </div>
                  <div class="col-md-2">
                    <img src="../assets/test1.jpg" class="teamListimage" alt="...">
                  </div>
                  <div class="col-6">
                    <div class="card-body">
                      <h5 class="card-title">SACHIN TENDULAKR</h5>
                      <p class="card-text">AVB Matric Higher School</p>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <b>234223 Atoms</b></div>
                </div>
              </div>
            </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
