<!-- <app-landing-page></app-landing-page> -->
<!-- <nav class="navbar">
    <div class="container-fluid">
        <a class="navbar-brand"><img class="myLogo" src="../assets/myLogo.png" alt=""></a>
        <div class="d-flex">
            <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link active" [routerLinkActive]="['active']" [routerLink]="['LandingPage']" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Profile</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/SignIn" class="btn btn-success"  type="button">Sign In</a>
                </li>
              </ul>
        </div>
    </div>
</nav> -->
<div class="component-container">
    <router-outlet></router-outlet>
</div>
<!-- <div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active carouselStyle" data-bs-interval="2000">
          <img src="../../../../assets/img1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item carouselStyle" data-bs-interval="2000">
          <img src="../../../../assets/img2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item carouselStyle" data-bs-interval="2000">
          <img src="../../../../assets/img3.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
</div> -->
