<div class="recent">
  <div class="row">
    <div class="col-md-12">
      <div class="recentCArd">
        <div class="card-body cardBody">
          <div>
            <h5>Recent Activity</h5>
          </div>
          <div class="design">
            <div class="p-2 ">
              <div class="card ">
                <div class="row g-0">
                  <div class="col-md-4 teamImg">
                    <img src="../assets/sample.jpg" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body px-1">
                      <h6 class="card-title d-flex justify-content-between">Chemistry <span>
                          <p class="card-text small"><small class="text-muted"> 3 mins ago</small></p>
                        </span></h6>
                      <p class="card-text small">What are the properties of transition metals?</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="p-2 ">
                <div class="card " >
                  <div class="row g-0">
                    <div class="col-md-4 teamImg">
                      <img src="../assets/sample.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body px-1">
                        <h6 class="card-title d-flex justify-content-between">Physics <span>
                            <p class="card-text small"><small class="text-muted"> 3 mins ago</small></p>
                          </span></h6>
                        <p class="card-text small">What are the properties of molecules?</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="col">
                <div class="d-flex justify-content-between p-2">
                  <h5>Your Task</h5>
                  <span>
                    <p style="text-align:right"><a (click)="viewTasks()">View All <i class="bi bi-arrow-right-short"></i></a></p>
                  </span>
                </div>
                <div class="p-2 ">
                  <div class="card" style="max-width: 540px;">
                    <div class="row g-0 " data-bs-toggle="modal" data-bs-target="#exampleModal">
                      <div class="col-md-12">
                        <div class="card-body yourtask">
                          <h6 class="card-title">The Big Bang Fair</h6>
                          <p class="card-text small"></p>
                          <div class="cardImages">
                            <img src="../assets/test1.jpg" class="card-img-top  imgsize " alt="...">
                            <img src="../assets/profile-1.png" class="card-img-top imgsize" alt="...">
                            <img src="../assets/profile-2.png" class="card-img-top imgsize" alt="...">
                          </div>
                          <p style="text-align:center"><i class="bi bi-clock"></i> 30 Sat, 2022 | 10:00 AM</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="col">
                <div class="d-flex justify-content-between p-2">
                  <h5>Upcoming Events</h5>
                  <span>
                    <p style="text-align:right"><a (click)="viewEvents()">View All <i class="bi bi-arrow-right-short"></i></a></p>
                  </span>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col p-0">
                      <section>
                        <div class="container p-1">
                          <div class="card eventCards">
                            <div class="row ">
                              <div class="col-md-4 teamImg">
                                <img src="../assets/science.jpg" class="w-100 img-fluid rounded-start">
                              </div>
                              <div class="col-md-8 p-0">
                                <div class="card-body ">
                                  <div class="favourite">
                                    <h6 class="card-title d-flex justify-content-between">Science Week Festival</h6>
                                    <i class="bi bi-heart"></i>
                                  </div>
                                  <p class="card-text small"><b>Event Date:</b> 18-2-2022 to 20-2-2022 </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="container p-1">
                          <div class="card eventCards">
                            <div class="row ">
                              <div class="col-md-4 teamImg">
                                <img src="../assets/science1.jpg" class="w-100 img-fluid rounded-start">
                              </div>
                              <div class="col-md-8 p-0">
                                <div class="card-body ">
                                  <div class="favourite">
                                    <h6 class="card-title d-flex justify-content-between">Science Week Festival</h6>
                                    <i class="bi bi-heart"></i>
                                  </div>
                                  <p class="card-text small"><b>Event Date:</b> 18-2-2022 to 20-2-2022 </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="container p-1">
                          <div class="card eventCards">
                            <div class="row ">
                              <div class="col-md-4 teamImg">
                                <img src="../assets/science3.webp" class="w-100 img-fluid rounded-start">
                              </div>
                              <div class="col-md-8 p-0">
                                <div class="card-body  ">
                                  <div class="favourite">
                                    <h6 class="card-title d-flex justify-content-between">Science Week Festival</h6>
                                    <i class="bi bi-heart"></i>
                                  </div>
                                  <p class="card-text small"><b>Event Date:</b> 18-2-2022 to 20-2-2022 </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <hr> -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
