<div class="signInPageclass">
  <div class="signInclass">
      <div class="card cardSize">
        <form>
          <div class="card-body">
              <h5 class="card-title">User Registartion</h5>
              <div class="container">
                  <form [formGroup]="registrationform" #formDir="ngForm">
                    <div>
                      <div class="cross-validation" [class.cross-validation-error]="registrationform.errors?.['identityRevealed'] && (registrationform.touched || registrationform.dirty)">
                        <div class="mb-3 form-group">
                            <input type="text" class="form-control" formControlName="firstname" name="firstname" id="firstname" placeholder="Firstname*">
                            <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" class="alert alert-danger">
                              <div *ngIf="firstname.errors?.['required']">
                                Firstname is required.
                              </div>
                            </div>
                        </div>
                        <div class="mb-3 form-group">
                          <input type="text" class="form-control" formControlName="lastname" name="lastname" id="lastname" placeholder="Lastname">
                        </div>
                        <div class="mb-3 form-group">
                          <input type="tel" class="form-control" formControlName="phone" name="phone" id="phone" placeholder="Phone*">
                          <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert alert-danger">
                            <div *ngIf="phone.errors?.['required']">
                              Phone number is required.
                            </div>
                            <div *ngIf="phone.errors?.['minLength']">
                              Phone number must be at least 10 characters long..
                            </div>
                            <div *ngIf="phone.errors?.['pattern']">
                              Phone number must be a numeric..
                            </div>
                          </div>
                        </div>
                        <div class="mb-3 form-group">
                          <input type="email" class="form-control" formControlName="email" name="email" id="email"  placeholder="Email">
                          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                            <div *ngIf="email.errors?.['required']">
                              Email is required.
                            </div>
                            <div *ngIf="email.errors?.['email']">
                              Email format is wrong.
                            </div>
                          </div>
                        </div>
                        <div class="mb-3 form-group">
                            <input type="text" class="form-control" formControlName="username" name="username" id="username" placeholder="Username">
                            <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
                              <div *ngIf="username.errors?.['required']">
                                Username is required.
                              </div>
                              <div *ngIf="username.errors?.['minLength']">
                                Username must be at least 4 characters long..
                              </div>
                            </div>
                        </div>
                        <div class="mb-3 form-group">
                            <input type="password" class="form-control" formControlName="password" name="password" id="password" placeholder="Password">
                            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                              <div *ngIf="password.errors?.['required']">
                                Password is required.
                              </div>
                            </div>
                        </div>
                      </div>
                      <div class="center form-group">
                          <button type="submit" [disabled]="registrationform.invalid" class="btn btn-success" (click)="submitUser()">Submit</button>
                      </div>
                    </div>
                  </form>
              </div>
          </div>
        </form>
      </div>
  </div>
</div>
