.input {
  width: 100%;
  padding: 8px 20px;
  /* margin: 8px 0; */
  /* box-sizing: border-box; */
  border: none;
  background-color: rgb(239, 238, 238);
  color: black;
}
.input:focus {
  outline: none !important;
  border-color: #04445D;
  box-shadow: 0 0 3px #04445D;
}
.ng-select.custom ::ng-deep .ng-select-container  {
  min-height: 0px;
  border-radius: 0;
  height: 35px;
}
.round {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 7px;
}

input[type=file]::file-selector-button {
  background: #04445D;
  color: white;
}
input[type=file]::file-selector-button :hover {
  background: #04445D;
  color: white;
}
