<div class="adminsignIntopclass">
  <div class="adminsignInclass">
    <div class="card cardSize">
      <div class="row logButtons">
        <div class="col-auto">
          <h3 class="signup"> <a type="button">Login</a> </h3>
          <div class="underline"></div>
        </div>
      </div>
      <form>
        <div class="card-body">
          <br>
          <div class="container centerContainer">
            <form [formGroup]="adminsigninform" #formDir="ngForm">
              <div *ngIf="errorShow" class="alert alert-danger">
                <div>
                  Please enter the valid credentials.
                </div>
              </div>
              <div class="cross-validation"
                [class.cross-validation-error]="adminsigninform.errors?.['identityRevealed'] && (adminsigninform.touched || adminsigninform.dirty)">
                <div class="mb-3 form-group">
                  <input type="email" name="email" class=" emailInput" formControlName="email" id="email"
                    placeholder="Email" required>
                  <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                    <div *ngIf="email.errors?.['required']">
                      Email is required.
                    </div>
                    <div *ngIf="email.errors?.['email']">
                      Email format is wrong.
                    </div>
                  </div>
                </div>
                <div class="mb-3 form-group">
                  <input type="password" name="password" class=" passwordInput" formControlName="password"
                    id="password" placeholder="Password" required>
                  <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                    <div *ngIf="password.errors?.['required']">
                      Password is required.
                    </div>
                  </div>
                </div>
                <br>
              </div>
              <div class="center">
                <button type="submit" (click)="adminSignIn()" [disabled]="adminsigninform.invalid" class="btn center signBtn">Login</button>
              </div>
              <br>
            </form>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
