<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active carouselStyle" data-bs-interval="2000">
          <img src="../../../../assets/img1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item carouselStyle" data-bs-interval="2000">
          <img src="../../../../assets/img2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item carouselStyle" data-bs-interval="2000">
          <img src="../../../../assets/img3.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
</div>


<!-- new design -->


<div class="landing-page">
  <div class="container">
  <div class="header-area">
  <div class="logo">
    <img class="myLogo" src="../assets/myLogo.png" alt="">
  </div>
  <ul class="links">
  <li>Home</li>
  <li>About Us</li>
  <li>Work</li>
  <li>Info</li>
  <li>Get Started</li>
  </ul>
  </div>
  <div class="mypagecontent">
  <div class="col-6 info">
  <h1>Looking For Inspiration</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus odit nihil ullam nesciunt quidem iste, Repellendus odit nihil</p>
  <button>Button name</button>
  </div>
  <div class="col-6 image rightContent">
    <!-- <div class="col-6 rightContent">
      <div class="half-circle"></div>
      <div class="half-circle1"></div>
      <div class="half-circle2"></div>
    </div> -->
  <img src="https://i.postimg.cc/65QxYYzh/001234.png">
  </div>
  </div>
  <div class="clearfix"></div>
  </div>
  </div>
