<div class=" signInPageclass">
  <!-- <div class="signInclass"> -->
    <div class='logoArea'>
      <img class="mylogo" src="../assets/myLogo.png" alt="">
    </div>
    <div class="maincontent">
      <!-- <div class='d-flex float-end'>
        <button class='btn btn-success' (click)="admin()">Admin</button>
      </div> -->
    <div class="card cardSize">
      <form class="">
        <!-- <div class='d-flex justify-content-evenly'>
          <button class='btn btn-success' (click)="admin()">Admin</button>
          <button class='btn btn-success' (click)="parent()">Parent</button>
        </div> -->
        <div *ngIf="!otpPage" class="row logButtons">
          <div class="col-auto ">
            <h3 class="signup"> <a type="button" class="login" [ngClass]="{'active': loginBtn}" (click)="signinBtn()">Sign In</a> </h3>
            <div class="underline"></div>
          </div>
          <div class="col-auto">
            <h3 class="signup"> <a type="button" [ngClass]="{'active': signupbtn}" class="signup"  (click)="signupBtn()">Sign Up</a> </h3>
            <div class="underline"></div>
          </div>
        </div>
        <div *ngIf="initialPage && !otpPage" class="card-body">
          <br>
          <div class="container">
            <form [formGroup]="signinform" #formDir="ngForm">
              <div>
                <div class="cross-validation"
                  [class.cross-validation-error]="signinform.errors?.['identityRevealed'] && (signinform.touched || signinform.dirty)">
                  <div class="mb-3 form-group">
                    <input type="email" name="email" class=" emailInput" formControlName="email" id="email"
              placeholder="Email" required>
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                      <div *ngIf="email.errors?.['required']">
                        Email is required.
                      </div>
                      <div *ngIf="email.errors?.['email']">
                        Email format is wrong.
                      </div>
                    </div>
                  </div>
                  <div class="mb-3 form-group">
                    <input type="password" name="password" [type]="show ? 'text' : 'password'" class=" passwordInput" formControlName="password"
                      id="password" placeholder="Password"  required >
                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                      <!-- <i class="bi bi-eye"></i> -->
                      <div *ngIf="password.errors?.['required']">
                        Password is required.
                      </div>
                      <div *ngIf="password.errors?.['minlength']">
                        Password must be at least 8 characters long..
                      </div>
                      <div *ngIf="password.errors?.['pattern']">
                        Password must contain at least one number and one uppercase and lowercase letter.
                      </div>

                    </div>
                  </div>
                  <div class="">
                    <!-- <div class="checkbox">
                      <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                      <label for="vehicle1">Remember Me</label>
                    </div> -->
                    <a class="d-flex justify-content-end" >Forgot password?</a>
                  </div>
                  <br>
                </div>
                <div class="center">
                  <button type="submit" [disabled]="signinform.invalid" class="btn signBtn" (click)="signin()">Login</button>
                </div>
                <br>
                <div class="othersignin">
                  <h5 class="socialicon"><span>SOCIAL LOGIN</span></h5>
                  <p>Connect With Social Media</p>
                  <div class="social-container">
                    <a class="social">
                      <i class="bi bi-google iconcolour btn " style="font-size: 25px;"></i>
                    </a>
                    <a class="social">
                      <i class="bi bi-facebook iconcolour" style="font-size: 25px;"></i>
                    </a>
                    <a class="social">
                      <i class="bi bi-linkedin iconcolour" style="font-size: 25px;"></i>

                    </a>
                  </div>
                </div>
              </div>
              <div class="center">
                <span>New to Pi-Hubs? </span>
                <a type="button" class="card-link " (click)="signupBtn()">Sign Up</a>
              </div>
            </form>
          </div>
        </div>
        <div *ngIf="!initialPage && !otpPage" class="card-body">
          <br>
          <div class="container">
            <form [formGroup]="signupform" #formDir="ngForm">
              <div>
                <div class="cross-validation"
                  [class.cross-validation-error]="signupform.errors?.['identityRevealed'] && (signupform.touched || signupform.dirty)">
                  <div class="mb-3 form-group">
                    <input type="email" name="email" class="emailInput" formControlName="email" id="email"
                      placeholder="Email" required>
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                      <div *ngIf="email.errors?.['required']">
                        Email is required.
                      </div>
                      <div *ngIf="email.errors?.['email']">
                        Email format is wrong.
                      </div>
                    </div>
                  </div>
                  <div class="mb-3 form-group">
                    <input type="tel" name="mobile" class="emailInput
                          " formControlName="mobile" id="mobile" placeholder="Phone" maxlength='10' required>
                    <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)" class="alert alert-danger" >
                      <div *ngIf="mobile.errors?.['required']">
                        Phone number is required.
                      </div>
                      <div *ngIf="mobile.errors?.['minlength']">
                        Phone number must be at least 10 characters long..
                      </div>
                      <div *ngIf="mobile.errors?.['pattern']">
                        Phone number must be a numeric..
                      </div>
                    </div>
                  </div>
                </div>
                <div class="center">
                  <button type="submit" [disabled]="signupform.invalid" (click)="signup()" class="btn signBtn ">Sign
                    Up</button>
                </div>
                <br>
              </div>
              <div class="center">
                <span>Already have an account? </span>
                <a type="button" class="card-link" (click)="signinBtn()">Sign In</a>
              </div>
            </form>
          </div>
        </div>
        <div *ngIf="otpPage" class="card-body">
          <h4 class="card-title otp">OTP Verification</h4>
          <div class="container">
            <form [formGroup]="otpform">
              <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="config"></ng-otp-input>
              <div class="d-flex justify-content-center">
                <a type="button" class="card-link" (click)="signin()">Resend OTP</a>
              </div>
              <br>
              <div class="center">
                <button type="button" class="btn btn-success" (click)="verifyOTP()">Verify</button>
              </div>
            </form>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- </div> -->
  <div  class="Design">
    <div class="rightContent">
      <div class="half-circle"></div>
      <div class="half-circle1"></div>
      <div class="half-circle2"></div>
    </div>
  </div>
</div>



